@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:blue">
    <h1>Book Your</h1>
    <h1>Flight</h1>
    <br>
    <p style="color:black;margin-top:30px;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste vero quos magni,
        laboriosam totam officiis labore asperiores ea repudiandae quasi
        quas ex ipsam nostrum minus, quia et, doloribus accusantium ducimus!
    </p>
    @* <h1 class="display-4">Welcome</h1> *@
    
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
